<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!--1开启spring注解驱动 service层 -->
	<context:component-scan base-package="com.service"/>
	<!--2读取properties -->
	<context:property-placeholder location="classpath:mybatis/db.properties"/>
	<!--3配置数据库连接池 c3p0 -->
	<bean id="ds" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${driverClass}"/>
		<property name="jdbcUrl" value="${url}"/>
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${password}"/>
	</bean>
	<!--4配置事务管理器 -->
	<bean id="tx" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds"/>
	</bean>
	<!--5开启事务的注解驱动 -->
	<tx:annotation-driven transaction-manager="tx"/>
	<!--6spring管理mybatis配置文件 -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds"/>
		<property name="configLocation" value="classpath:mybatis/sqlMapConfig.xml"/>
		<property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>
	</bean>
	<!-- 7.spring管理mybatis映射接口和sql映射文件之间关联关系 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
		<property name="basePackage" value="com.mapper"/>
	</bean>
	<!--扫描业务层组件-->
	<context:component-scan base-package="com.service.impl"></context:component-scan>

<!--
	   8. 文件上传的配置  若没有该配置 MultipartFile file对象将为null
     <bean id="multipartResolver "
           class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
         <property name="defaultEncoding" value="UTF-8"/>
         <property name="maxUploadSizePerFile" value="10485760"/>&lt;!&ndash;单个文件最大1M&ndash;&gt;
         <property name="maxUploadSize" value="104857600"/>&lt;!&ndash;总文件最大10M&ndash;&gt;
     </bean>
-->
	<!-- 实现文件上传的配置-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"/>
		<property name="maxUploadSize" value="5242880"/>
	</bean>


</beans>